# Backend
/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/.idea/
backend/src/main/resources/application-local.properties

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.env.local
/frontend/.env

# === Global ignores ===
.env
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

.vscode/
.idea/
*.iml

/out/
/out/*

*.bak
